# TASK 3

In [30]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("Rekha", end= " ")
        
    print("\n")

Rekha

Rekha Rekha

Rekha Rekha Rekha

Rekha Rekha Rekha Rekha

#OR

In [31]:
n = int(input("Enter no of rows:"))
print()
for i in range(n):
    print("iNeuron "*(i+1))

Enter no of rows:5

iNeuron
iNeuron iNeuron
iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron iNeuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon     ineruon     ineruon
    ineruon      ineruon
          ineruon

In [32]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(('iNeuron  '*n).center(60,' '))

                         iNeuron
                     iNeuron  iNeuron
                iNeuron  iNeuron  iNeuron
                     iNeuron  iNeuron
                         iNeuron

In [33]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

 Que3. Try to extract all the list entity

In [34]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [35]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [36]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may b a part of dict key and values

In [37]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [38]:
l1=[]
for i in l:
    if type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)
                l1.append(j)
                
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23

In [39]:
d={'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8}
d.items()            #treturns in tuple form

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

q7 : Try to give summation of all the numeric data

In [40]:
sum(l1)

156

In [41]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [42]:
for i in l1:
    if i % 2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [43]:
for i in l1:
    if i % 2==0:
        print(i)

2
4
2
4
6
4
6
4
6
8

q9 : Try to extract "ineruon" out of this data

In [44]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [45]:
l1= []
for i in l:
    if type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if j =='ineuron':
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g == "ineuron":
                    l1.append(g)

In [46]:
l1

['ineuron', 'ineuron']

q10 : Try to find out a number of occurances of all the data

In [47]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [48]:
l1=[]
for i in l:
    if type(i)==tuple or type(i)==set or type(i)==list:
        for j in i:
            if type(j)==int or type(j)==str:
                print(j)
                l1.append(j)
            
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g)==int or type(g)==str:
                    l1.append(g)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
ineuron
data science

In [20]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [21]:
set(l1)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [22]:
for i in set(l1):
    print(i, ":", l1.count(i))

sudh : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
ineuron : 2
k3 : 1
kumar : 1
8 : 1
45 : 1
data science  : 1
k2 : 1
23 : 1

q11 : Try to find out number of keys in dict element

In [23]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [24]:
for i in l:
    if type(i)==dict:
        print(len(i.keys()))

5

q12 : Try to filter out all the string data

In [25]:

for i in l1:
    if type(i)==str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

q13 : Try to Find  out alphanum in data

In [26]:
for i in l1:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [27]:
for i in l:
    m=1
    if type(i)==set or type(i)==tuple or type(i)==list:
        for j in i:
            if type(j)==int:
                m=m*j
        print(m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n)==int:
                    m=m*n
        print(m)

24
720
2520
20700
1008
1

In [29]:
j=1
for i in l1:
    if type(i)==int:
        j=j*i
print(j)

908605071360000